# === Fichiers Python ===
*.pyc
__pycache__/
*.pyo
*.pyd

# === Environnement virtuel ===
venv/
.env/
*.env

# === Base de données SQLite ===
db.sqlite3

# === Fichiers de migration Django ===
*.log

# === Fichiers statiques ===
staticfiles/
static/

# === Fichiers médias ===
media/

# === Fichiers VS Code ===
.vscode/

# === MacOS et Windows ===
.DS_Store
Thumbs.db

# === Render files (ok à garder en versionné) ===
# (donc on NE les ignore PAS)
# render.yaml
# render-build.sh
